html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 51.2rem;
  height: 115.654rem;
  overflow: hidden;
}

.section_1 {
  height: 28.907rem;
  background: url(./img/SketchPng7aaef2e7e4e5efe17e202449e813fac922b9ebb75cadf567631e3f24f756cf1f.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 51.2rem;
}

.group_1 {
  height: 28.8rem;
  background: url(./img/SketchPngd1fb638b06f3ca61dd37495b6ab07d8c9002f157c15740d3ded11b4f5acbaba1.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.054rem;
  width: 51.2rem;
}

.group_2 {
  width: 10.134rem;
  height: 1.067rem;
  margin: 0.454rem 0 0 40.534rem;
}

.label_1 {
  width: 1.067rem;
  height: 1.067rem;
}

.text_1 {
  width: 1.014rem;
  height: 0.694rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: SFCompactText-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.694rem;
  margin: 0.187rem 0 0 0.267rem;
}

.label_2 {
  width: 1.067rem;
  height: 1.067rem;
  margin-left: 3.254rem;
}

.text_2 {
  width: 3.2rem;
  height: 0.694rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: SFCompactText-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.694rem;
  margin: 0.187rem 0 0 0.267rem;
}

.group_3 {
  width: 22.907rem;
  height: 3.867rem;
  margin: 9.12rem 0 0 14.134rem;
}

.text-group_1 {
  width: 22.907rem;
  height: 3.867rem;
}

.text_3 {
  width: 22.907rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  color: rgba(242, 242, 247, 1);
  font-size: 1.813rem;
  font-family: SFCompactDisplay-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 2.16rem;
}

.text_4 {
  width: 18.827rem;
  height: 1.067rem;
  overflow-wrap: break-word;
  color: rgba(242, 242, 247, 1);
  font-size: 0.906rem;
  font-family: SFCompactText-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.64rem 0 0 1.6rem;
}

.group_4 {
  width: 4.907rem;
  height: 1.6rem;
  margin: 1.28rem 0 0 23.174rem;
}

.text-wrapper_1 {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  height: 1.6rem;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 4.907rem;
}

.text_5 {
  width: 2.534rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.533rem;
  font-family: SFCompactText-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.454rem 0 0 1.2rem;
}

.image-wrapper_1 {
  width: 1.6rem;
  height: 1.6rem;
  margin: 7.414rem 0 2.4rem 24.8rem;
}

.image_1 {
  width: 1.6rem;
  height: 1.6rem;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 51.2rem;
  height: 28.8rem;
  margin-top: 0.16rem;
}

.block_1 {
  width: 40.534rem;
  height: 13.28rem;
  margin: 1.36rem 0 0 5.334rem;
}

.text-group_2 {
  width: 16.16rem;
  height: 13.147rem;
  margin-top: 0.134rem;
}

.text-wrapper_2 {
  width: 15.334rem;
  height: 4.32rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SFCompactDisplay-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 2.16rem;
}

.text_6 {
  width: 15.334rem;
  height: 4.32rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.813rem;
  font-family: SFCompactDisplay-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 2.16rem;
}

.paragraph_1 {
  width: 15.334rem;
  height: 4.32rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.813rem;
  font-family: SFCompactDisplay-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 2.16rem;
}

.text_7 {
  width: 15.334rem;
  height: 4.32rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.813rem;
  font-family: SFCompactDisplay-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 2.16rem;
}

.paragraph_2 {
  width: 16.16rem;
  height: 7.84rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 30, 1);
  font-size: 0.746rem;
  font-family: SFCompact-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.12rem;
  margin-top: 0.987rem;
}

.box_1 {
  border-radius: 40px;
  background-image: url(./img/16cadbf6997d444a948fb99ff6f1a093_mergeImage.png);
  width: 21.6rem;
  height: 13.28rem;
  border: 1px solid rgba(151, 151, 151, 1);
}

.block_2 {
  width: 40.614rem;
  height: 9.787rem;
  margin: 2.667rem 0 1.707rem 5.334rem;
}

.text-wrapper_3 {
  background-color: rgba(0, 122, 255, 0.04);
  border-radius: 40px;
  width: 19.76rem;
  height: 9.787rem;
  justify-content: flex-center;
}

.text_8 {
  width: 2.187rem;
  height: 1.547rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.28rem;
  font-family: SFCompactText-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.547rem;
  margin: 1.334rem 0 0 1.04rem;
}

.text_9 {
  width: 17.654rem;
  height: 4.48rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 30, 1);
  font-size: 0.746rem;
  font-family: SFCompact-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.12rem;
  margin: 1.067rem 0 1.36rem 1.04rem;
}

.text-wrapper_4 {
  background-color: rgba(0, 122, 255, 0.04);
  border-radius: 40px;
  width: 19.787rem;
  height: 9.787rem;
  justify-content: flex-center;
}

.text_10 {
  width: 7.254rem;
  height: 1.547rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.28rem;
  font-family: SFCompactText-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.547rem;
  margin: 1.334rem 0 0 1.067rem;
}

.text_11 {
  width: 17.654rem;
  height: 4.48rem;
  overflow-wrap: break-word;
  color: rgba(28, 28, 30, 1);
  font-size: 0.746rem;
  font-family: SFCompact-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.12rem;
  margin: 1.067rem 0 1.36rem 1.094rem;
}

.section_3 {
  height: 28.8rem;
  background: url(./img/SketchPng53324e291a72524581df03765c18e3cdcfad00d33de9d9c152ea4f77b2e731bb.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.214rem;
  width: 51.2rem;
}

.box_2 {
  width: 51.2rem;
  height: 28.8rem;
  background: url(./img/SketchPngd1fb638b06f3ca61dd37495b6ab07d8c9002f157c15740d3ded11b4f5acbaba1.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_12 {
  width: 3.04rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  color: rgba(242, 242, 247, 1);
  font-size: 1.813rem;
  font-family: SFCompactDisplay-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 2.16rem;
  margin: 7.387rem 0 0 24.08rem;
}

.text_13 {
  width: 25.414rem;
  height: 3.2rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-family: SFCompactText-Medium;
  font-weight: 500;
  text-align: right;
  line-height: 1.067rem;
  margin: 0.64rem 0 0 12.88rem;
}

.text-wrapper_5 {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  height: 1.6rem;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 9.04rem;
  margin: 1.6rem 0 0 21.094rem;
}

.text_14 {
  width: 6.64rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.533rem;
  font-family: SFCompactText-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.454rem 0 0 1.2rem;
}

.image_2 {
  width: 1.6rem;
  height: 1.6rem;
  margin: 9.2rem 0 1.414rem 24.8rem;
}

.image_3 {
  width: 51.147rem;
  height: 28.8rem;
  margin: -0.054rem 0 0.027rem 0.054rem;
}

.section_4 {
  position: absolute;
  left: 0;
  top: 86.854rem;
  width: 51.2rem;
  height: 28.8rem;
  background: url(./img/SketchPngd1fb638b06f3ca61dd37495b6ab07d8c9002f157c15740d3ded11b4f5acbaba1.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text-group_3 {
  width: 25.414rem;
  height: 6rem;
  margin: 7.494rem 0 0 12.88rem;
}

.text_15 {
  width: 7.36rem;
  height: 2.16rem;
  overflow-wrap: break-word;
  color: rgba(242, 242, 247, 1);
  font-size: 1.813rem;
  font-family: SFCompactDisplay-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 2.16rem;
  margin-left: 9.04rem;
}

.text_16 {
  width: 25.414rem;
  height: 3.2rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.906rem;
  font-family: SFCompactText-Medium;
  font-weight: 500;
  text-align: right;
  line-height: 1.067rem;
  margin-top: 0.64rem;
}

.text-wrapper_6 {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  height: 1.6rem;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 10.507rem;
  margin: 1.6rem 0 12.107rem 21.067rem;
}

.text_17 {
  width: 8.107rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.533rem;
  font-family: SFCompactText-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0.454rem 0 0 1.2rem;
}
